header {
    width: 85vw;
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav ul {
    width: 20vw;
    display: flex;
    gap: 0px 10px;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

ul li:hover {
    text-decoration: underline rgb(22, 115, 47);
    transition-duration: .4s;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    margin: 0 0;
    margin-bottom: 15px;
    padding-left: 15px;
}

main a {
    color: white;
    text-decoration: none;
    background-color: rgb(22, 115, 47);
    padding: 10px 15px;
    border-bottom: 3px solid white;
    font-size: .8em;
}

main p {
    color: white;
    font-size: .8em;
}

#temporadas {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px 20px;
}

#temporadas a:hover {
    transition-duration: .4s;
    background-color: rgb(13, 75, 30);
}

#assistirEp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 140px;
    height: 30px;
    font-size: 1.1em;
}

#assistirEp:hover {
    transition-duration: .4s;
    background-color: rgb(13, 75, 30);
}

#assistir {
    font-size: .7em;
}

body {
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#fotos {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 220px;
}

footer figure img {
    width: 200px;
    height: 120px;
    margin-left: -120px;
    transition-duration: .7s;
    object-fit: cover;
    box-shadow: 5px 0px 15px black;
    border-radius: 5px;
    cursor: pointer;
}

footer figure img:hover {
    z-index: 999;
    transform: translateY(-16px) rotate(3deg);
}

footer figure img:hover~img {
    transform: translateX(80px);
}